.donate-pay-in
  form
    margin-top: 30px
  .input_square
    height: 35px
  .input_square-long
    height: 50px
    &::placeholder
      color: $input-color
    &::-moz-placeholder
      color: $input-color
    &:-moz-placeholder
      color: $input-color
    &:-ms-input-placeholder
      color: $input-color
    &::-moz-placeholder
      color: $input-color
    
  .donate-pay-in_name
    margin-top: 0
    line-height: 1.83

@media(min-width: 576px)

  .donate-pay-in
    .input_square
      height: 50px
    